<div class="welcome_slider__block">
  <img
    class="welcome_slider__picture"
    src="assets/images/welcome_section/put-your-image.png"
    alt="bino picture"
  />
  <div class="welcome_slider__picture_overlay"></div>
  <div class="welcome_slider__content">
    <div class="block_decoration__underline">
      <h3 class="welcome_slider__slogan">Our Clients Are Our First Priority</h3>
      <h1 class="welcome_slider__title">WELCOME TO BINO</h1>
    </div>
    <div class="welcome_slider__text">
      <span>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.</span>
    </div>
    <div class="row btn_row">
        <a href="#" class="btn btn_large btn_orange">GET STARTED NOW</a>
        <a href="#" class="btn btn_large btn_transparent">LEARN MORE</a>
    </div>
  </div>
</div>
