.blog-section {
  padding: 110px 0 0;
  .block_decor__title {
    letter-spacing: normal;
    text-shadow: 0px 1px 0 #ffffff;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 70px 0 0;
  }
  &__block {
    display: flex;
    width: 50%;
    @include media("<widescreen") {
      width: 100%;
    }
    &:nth-child(4n-1),
    &:nth-child(4n) {
      flex-direction: row-reverse;
      .blog-section__content:before {
        right: -28px;
        left: auto;
        border-width: 40px 0 40px 30px;
        border-color: transparent map-get($colors, "orange");
      }
    }
    &:nth-child(even) {
      @include media("<widescreen") {
        flex-direction: row-reverse;
      }
      @include media("<tablet") {
        flex-direction: column;
      }
      .blog-section__content:before {
        @include media("<widescreen") {
          left: auto;
          right: -28px;
          border-width: 40px 0 40px 30px;
          border-color: transparent map-get($colors, "orange");
        }
        @include media("<tablet") {
          left: 50%;
          right: auto;
          border-width: 0 40px 30px;
          border-color: map-get($colors, "orange") transparent;
        }
      }
    }
    &:nth-child(odd) {
      @include media("<widescreen") {
        flex-direction: row;
      }
      @include media("<tablet") {
        flex-direction: column;
      }
      .blog-section__content:before {
        @include media("<widescreen") {
          right: auto;
          left: -28px;
          border-width: 40px 30px 40px 0;
          border-color: transparent map-get($colors, "orange");
        }
        @include media("<tablet") {
          left: 50%;
          right: auto;
          border-width: 0 40px 30px;
          border-color: map-get($colors, "orange") transparent;
        }
      }
    }
  }
  &__image-holder {
    width: 50%;
    height: 100%;
    @include media("<tablet") {
      width: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: map-get($colors, "orange");
    padding: 70px 45px 60px;
    @include media("<tablet") {
      width: 100%;
      padding: 30px 15px;
    }
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: -28px;
      border-width: 40px 30px 40px 0;
      border-color: transparent map-get($colors, "orange");
      border-style: solid;
      transform: translateY(-50%);
      @include media("<tablet") {
        top: -28px;
        border-width: 0 40px 30px;
        border-color: map-get($colors, "orange") transparent;
        transform: translateX(-50%);
      }
    }
  }
  &__title {
    position: relative;
    font: 600 24px/1 map-get($base, "base-font-family");
    letter-spacing: 1.2px;
    color: map-get($colors, "white");
    padding: 0 0 20px;
    margin: 0 0 40px;
    &:hover,
    &:focus {
      text-decoration: none;
      &:before {
        width: 100%;
      }
    }
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 44px;
      height: 4px;
      background-color: map-get($colors, "white");
      transition: 0.3s ease;
    }
  }
  &__category {
    font: 14px/1 map-get($base, "base-font-sans-serif");
    letter-spacing: 0.7px;
    color: map-get($colors, "white");
    margin: 0 0 28px;
  }
  &__text {
    font: 16px/1.88 map-get($base, "base-font-sans-serif");
    color: map-get($colors, "white");
  }
  &__link {
    font: 600 italic 18px/1.33 map-get($base, "base-font-sans-serif");
    color: map-get($colors, "white");
    margin: auto 0 0;
    transition: 0.3s ease;
    &:hover,
    &:focus {
      text-decoration: none;
      opacity: 0.8;
    }
  }
}
