%line_decor {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 2px;
  background-color: #f1ebe7;
}
.block_decor__underline {
  position: relative;
  align-self: center;
  @include size(8px);
  background-color: map-get($colors, "orange");
  border-radius: 50%;
  margin-top: auto;
  &:before {
    @extend %line_decor;
    left: -94px;
  }
  &:after {
    @extend %line_decor;
    right: -94px;
  }
}
