.footer {
  background-color: #202020;
  padding: 31px 0 20px;
  margin-top: auto;
  .row {
    align-items: center;
    @include media('<tablet') {
      justify-content: space-around;
    }
  }
  .social__list {
    @extend %listreset;

    display: flex;
    flex-wrap: wrap;
    li {
      line-height: 1;
      &:not(:last-child) {
        margin-right: 21px;
      }
    }
    a {
      font-size: 19px;
      text-decoration: none;
      color: map-get($base, 'base-text-color');
      @include animate(color, 0.3s, ease);
      &:hover {
        color: map-get($colors, 'orange');
        text-decoration: none;
      }
      &:focus {
        text-decoration: none;
      }
    }
  }
  p {
    font-family: map-get($base, 'base-font-sans-serif');
    font-weight: 600;
    margin: 0 0 0 auto;
    @include media('<tablet') {
      margin: 10px 0 0;
    }
  }
}
.btn-scrollup {
  @extend %btnreset;
  @include animate(opacity, 0.5s, ease);
  @include hide-text;
  position: fixed;
  right: 52px;
  bottom: 64px;
  width: 53px;
  height: 53px;
  display: flex;
  color: transparent;
  background-color: map-get($colors, 'orange');
  border-radius: 50%;
  box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.25);
  z-index: 5;
  &:hover {
    opacity: 0.8;
    box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.25);
  }
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-style: solid;
    border-width: 2px 2px 0 0;
    border-color: map-get($colors, 'white') map-get($colors, 'white')
      transparent transparent;
  }
  &:after {
    transform: translate(-50%, -50%) rotateZ(-45deg);
  }
  @include media('<desktop') {
    display: none;
  }
  .page_top & {
    opacity: 0;
    pointer-events: none;
  }
}
