.form-section {
  background-color: map-get($colors, "main-light");
  padding: 150px 0;
  .block_decor__title {
    letter-spacing: normal;
    text-shadow: 0px 1px 0 #ffffff;
  }
  &__row {
    display: flex;
    margin: 70px 0 0;
  }
  &__contacts {
    width: 478px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: map-get($colors, "white");
    border-radius: 2px;
    box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.1);
    padding: 100px 90px;
    margin-right: 28px;


    border-width:40px 30px 40px 0;
    border-color: transparent map-get($colors, "orange") transparent;
  }
  &__form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: map-get($colors, "white");
    border-radius: 2px;
    box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.1);
    padding: 100px;
  }
  &__title {
      
  }
}