.header {
  @include animate(background-color, 0.3s, ease);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #202020;
  padding: 18px 0 13px;
  z-index: 10;
  @include media('<desktop') {
    background-color: #202020;
    padding: 12px 0;
  }
  @include media('print') {
    position: relative;
    border: 30px solid #000;
    padding: 0;
  }
  &__logo {
    height: 52px;
    align-self: center;
    @include media('<tablet') {
      height: 25px;
    }
    @include media('print') {
      position: absolute;
      left: 50%;
      height: 52px;
      transform: translateX(-50%);
    }
    img {
      height: 100%;
    }
  }
  .page_top & {
    background-color: transparent;
    @include media('<desktop') {
      background-color: #202020;
    }
  }
  .row {
    position: relative;
  }
  .to-content {
    @include animate(opacity transform);
    @extend %btnreset;
    position: absolute;
    top: 0;
    left: 0;
    background-color: map-get($colors, 'orange');
    opacity: 0;
    z-index: -1;
    &:focus {
      opacity: 1;
      transform: translateY(150%);
      z-index: 1;
    }
    @include media('<desktop') {
      display: none;
    }
  }
}
