.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #202020;
  padding: 18px 0 13px;
  @include animate(all, 0.3s, ease);
  z-index: 10;
  &__logo {
    height: 52px;
    align-self: center;
    @include media('<tablet') {
      height: 25px;
    }
    img {
      height: 100%;
    }
  }
  @include media('<desktop') {
    background-color: #202020;
    padding: 12px 0;
  }
  .page_top & {
    background-color: transparent;
    @include media('<desktop') {
      background-color: #202020;
    }
  }
}
