.nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    @include media('<desktop') {
      position: absolute;
      top: 100%;
      right: 0;
      width: 100%;
      display: none;
      background-color: #202020;
      margin: 0;
    }
    li {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      margin-left: 53px;
      @include media('<desktop') {
        margin-left: 0;
      }
    }
  }
  .scroll-to {
    @extend %btnreset;
    font-family: map-get($base, 'base-font-sans-serif');
    font-weight: 700;
    color: map-get($colors, 'main-dark');
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 16px 0;
    transition: 0.3s ease;
    &:hover {
      color: map-get($colors, 'orange');
    }
    &.active {
      color: map-get($colors, 'orange');
      border-bottom: 1px solid map-get($colors, 'orange');
    }
    @include media('<desktop') {
      text-align: center;
    }
  }
  &__button_mobile {
    display: none;
    @include media('<desktop') {
      width: 45px;
      height: 25px;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
    }
    span {
      height: 2px;
      background-color: #fff;
      transform-origin: 0;
      transition: 0.5s ease;
    }
    &.active {
      span:first-child {
        transform: rotateZ(38deg);
      }
      span:nth-child(2) {
        opacity: 0;
      }
      span:last-child {
        transform: rotateZ(-38deg);
      }
    }
  }
}
