.services {
  &_section {
    position: relative;
    display: flex;
    justify-content: center;
    @include media('print') {
      display: block;
    }
  }
  &__background {
    width: 45.5%;
    object-fit: cover;
    @include media('<widescreen') {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    @include media('print') {
      display: none;
    }
  }
  &__column {
    position: relative;
    width: 54.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #202020;
    padding: 150px 0 70px;
    z-index: 2;
    @include media('<widescreen') {
      width: 100%;
      background-color: transparent;
      padding: 100px 15px;
    }
    @include media('<phone') {
      padding: 80px 15px;
    }
    @include media('print') {
      max-width: 1200px;
      width: 100%;
      display: block;
      background-color: transparent;
      padding: 0 15px;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @include media('<widescreen') {
        background-color: rgba(#202020, 0.8);
      }
      @include media('print') {
        display: none;
      }
    }
  }
  &__title {
    position: relative;
    font: 700 36px/1 map-get($base, 'base-font-family');
    letter-spacing: 3.6px;
    color: map-get($colors, 'white');
    padding-right: 35px;
    margin: 0 80px 55px 0;
    @include media('<widescreen') {
      margin: 0 0 65px;
    }
    @include media('<tablet') {
      font-size: 24px;
      padding-right: 25px;
      margin: 0 120px 30px 0;
    }
    @include media('<phone') {
      align-self: center;
      margin: 0 0 30px 0;
      padding: 0;
    }
    @include media('print') {
      font-size: 36px;
      color: #000;
      padding-right: 0;
      margin: 0 0 20px 0;
    }
    &:before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 6px;
      height: 100%;
      background-color: map-get($colors, 'orange');
      @include media('<phone') {
        display: none;
      }
      @include media('print') {
        display: none;
      }
    }
  }
  &_slider {
    position: static;
    padding-left: 10px;
    @include media('<widescreen') {
      right: 0;
      width: 100%;
    }
    @include media('<phone') {
      padding-left: 0;
    }
    @include media('print') {
      padding: 0;
    }
    &__group {
      float: none;
      cursor: all-scroll;
      @include media('<phone') {
        float: left;
      }
      &:not(:last-child) {
        @include media('<phone') {
          margin-right: 5px;
        }
      }
    }
    &__block {
      position: relative;
      max-width: 686px;
      padding-right: 116px;
      margin: 10px 0 55px;
      outline: none;
      @include media('<widescreen') {
        max-width: none;
      }
      @include media('<phone') {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 0;
      }
      @include media('print') {
        page-break-inside: avoid;
        max-width: none;
        padding-right: 0;
        margin: 0 0 20px;
      }
    }
    &__title {
      font: 600 18px/1.61 map-get($base, 'base-font-sans-serif');
      text-align: right;
      text-transform: uppercase;
      color: map-get($colors, 'orange');
      margin-bottom: 5px;
      @include media('print') {
        text-align: left;
        color: #000;
      }
    }
    &__text {
      line-height: 2.07;
      text-align: right;
      margin: 0;
      @include media('<phone') {
        text-align: center;
      }
      @include media('print') {
        line-height: 1.5;
        text-align: left;
        color: #000;
      }
    }
    &__icon-holder {
      position: absolute;
      right: 5px;
      top: 54%;
      width: 64px;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: map-get($colors, 'white');
      border-radius: 50%;
      transform: translateY(-50%);
      @include media('<phone') {
        position: relative;
        right: 0;
        top: 0;
        transform: none;
        margin-bottom: 15px;
      }
      @include media('print') {
        display: none;
      }
      &:before {
        content: '';
        position: absolute;
        width: 74px;
        height: 74px;
        background-color: map-get($colors, 'white');
        border-radius: 50%;
        opacity: 0.25;
        z-index: -1;
      }
    }
    .slick-list {
      right: -36px;
      @include media('<widescreen') {
        right: 0;
      }
    }
    .slick-dots {
      @extend %listreset;
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 3;
      @include media('<widescreen') {
        left: 10px;
      }
      @include media('<phone') {
        top: 95%;
        left: 50%;
        flex-direction: row;
        transform: translateX(-50%);
      }
      button {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 0;
        line-height: 0;
        color: transparent;
        border: 0;
        background: transparent;
        padding: 0;
      }
      li {
        width: 1px;
        height: 34px;
        background-color: #999;
        border-radius: 1px;
        opacity: 0.25;
        cursor: pointer;
        @include animate(all, 0.3s, ease);
        @include media('<phone') {
          width: 34px;
          height: 1px;
        }
        &:not(:first-child) {
          margin-top: 8px;
          @include media('<phone') {
            margin: 0 0 0 8px;
          }
        }
      }
      .slick-active {
        background-color: map-get($colors, 'orange');
        opacity: 1;
      }
    }
  }
}
