.study {
  &-section {
    background-color: map-get($colors, 'main-light');
    padding: 150px 0 140px;
    @include media('<tablet') {
      padding: 80px 0 70px;
    }
    @include media('print') {
      background-color: transparent;
      margin-top: 40px;
      padding: 0;
    }
    &__row {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 45px 0;
      margin: 70px 0 0;
      @include media('<desktop') {
        padding: 350px 0 0;
      }
      @include media('<tablet') {
        justify-content: center;
        padding: 0;
        margin: 40px 0 0;
      }
      @include media('print') {
        display: block;
        padding: 0;
        margin: 0;
      }
    }
    &__background {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      object-fit: cover;
      @include media('<desktop') {
        width: 70%;
        height: auto;
      }
      @include media('<tablet') {
        position: static;
        width: auto;
        margin: 0 auto 20px;
      }
      @include media('print') {
        display: none;
      }
    }
  }
  &-slider {
    position: relative;
    width: 665px;
    height: 630px;
    box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.1);
    background-color: map-get($colors, 'white');
    padding: 80px 60px;
    z-index: 2;
    @include media('<tablet') {
      width: 100%;
      height: auto;
    }
    @include media('<phone') {
      padding: 30px 15px 60px;
    }
    @include media('print') {
      width: auto;
      height: auto;
      background-color: transparent;
      box-shadow: none;
      padding: 0;
    }
    .study-slider__block {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include media('print') {
        page-break-inside: avoid;
        display: block;
      }
    }
    &__icon-holder {
      position: relative;
      width: 90px;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 0 70px;
      @include media('<phone') {
        margin: 20px 0 50px;
      }
      @include media('print') {
        display: none;
      }
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: map-get($colors, 'orange');
        transform: rotateZ(45deg);
        z-index: 1;
      }
    }
    &__icon {
      position: relative;
      z-index: 2;
    }
    &__title {
      position: relative;
      font: 600 18px/1.2 map-get($base, 'base-font-sans-serif');
      letter-spacing: 1.35px;
      text-transform: uppercase;
      text-align: center;
      color: #6a6a6a;
      padding-bottom: 26px;
      margin-bottom: 24px;
      @include media('print') {
        text-align: left;
        color: #000;
        padding-bottom: 0;
        margin-bottom: 10px;
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 40px;
        height: 1px;
        background-color: #6a6a6a;
        transform: translateX(-50%);
        @include media('print') {
          display: none;
        }
      }
    }
    &__text {
      font: 300 14px/1.71 map-get($base, 'base-font-family');
      letter-spacing: 1.05px;
      text-align: center;
      margin-bottom: 45px;
      @include media('print') {
        line-height: 1.5;
        text-align: left;
        color: #000;
        margin-bottom: 20px;
      }
    }
    .btn {
      margin: 10px 0;
    }
    .slick-dots {
      @extend %listreset;
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      align-self: center;
      display: flex;
      align-items: center;
      justify-content: center;
      &:focus {
        outline: auto;
      }
      @include media('<tablet') {
        bottom: 30px;
      }
      button {
        @extend %btnreset;
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
      }
      li {
        width: 12px;
        height: 12px;
        background-color: #f4f5f9;
        border-radius: 50%;
        cursor: pointer;
        @include animate(all, 0.3s, ease);
        &:not(:first-child) {
          margin-left: 8px;
        }
      }
      .slick-active {
        background-color: map-get($colors, 'orange');
      }
    }
  }
}
