// fonts
// Open sans
@font-face {
  font-family: "OpenSans";
  src: url("../../assets/fonts/Open_Sans/OpenSans-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "OpenSans";
  src: url("../../assets/fonts/Open_Sans/OpenSans-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: "OpenSans";
  src: url("../../assets/fonts/Open_Sans/Open_Sans/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "OpenSans";
  src: url("../../assets/fonts/Open_Sans/OpenSans-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: "OpenSans";
  src: url("../../assets/fonts/Open_Sans/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "OpenSans";
  src: url("../../assets/fonts/Open_Sans/OpenSans-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: "OpenSans";
  src: url("../../assets/fonts/Open_Sans/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "OpenSans";
  src: url("../../assets/fonts/Open_Sans/OpenSans-RegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: "OpenSans";
  src: url("../../assets/fonts/Open_Sans/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "OpenSans";
  src: url("../../assets/fonts/Open_Sans/OpenSans-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: block;
}
// Source Sans Pro
@font-face {
  font-family: "SourceSansPro";
  src: url("../../assets/fonts/Source_Sans_Pro/SourceSansPro-Black.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../../assets/fonts/Source_Sans_Pro/SourceSansPro-BlackItalic.woff2")
    format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../../assets/fonts/Source_Sans_Pro/SourceSansPro-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../../assets/fonts/Source_Sans_Pro/SourceSansPro-BoldItalic.woff2")
    format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../../assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../../assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBoldItalic.woff2")
    format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../../assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../../assets/fonts/Source_Sans_Pro/SourceSansPro-RegularItalic.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../../assets/fonts/Source_Sans_Pro/SourceSansPro-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../../assets/fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../../assets/fonts/Source_Sans_Pro/SourceSansPro-ExtraLightItalic.woff2")
    format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: block;
}
@font-face {
  font-family: "SourceSansPro";
  src: url("../../assets/fonts/Source_Sans_Pro/SourceSansPro-LightItalic.woff2")
    format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: block;
}
