<section class="advanteges_section">
    <div class="container">
        <div class="advanteges__row">
            <div class="advanteges__block">
                <div class="advanteges__icon_holder">
                    <picture>
                        <source
                            srcset="assets/images/advanteges_section/1.png,
                            assets/images/advanteges_section/1@2x.png 2x, assets/images/advanteges_section/1@3x.png 3x">
                        <img src="assets/images/advanteges_section/1.png" alt="glasses">
                    </picture>
                </div>
                <h3 class="advanteges__title">SLEEK DESIGN</h3>
                <p class="advanteges__text">Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the
                    industry.</p>
            </div>
        </div>
    </div>
</section>