<section id="advanteges_section" class="advanteges_section">
    <div class="container">
        <div class="advanteges__row">
            <div class="advanteges__block">
                <div class="advanteges__icon_holder">
                    <img src="assets/images/ico-adv-1.png" alt="glasses">
                </div>
                <h3 class="advanteges__title">SLEEK DESIGN</h3>
                <p class="advanteges__text">Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem
                    Ipsum has been the
                    industry.</p>
            </div>
            <div class="advanteges__block">
                <div class="advanteges__icon_holder">
                    <img src="assets/images/ico-adv-2.png" alt="heart">
                </div>
                <h3 class="advanteges__title">CLEAN CODE</h3>
                <p class="advanteges__text">Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem
                    Ipsum has been the
                    industry.</p>
            </div>
            <div class="advanteges__block">
                <div class="advanteges__icon_holder">
                    <img src="assets/images/ico-adv-3.png" alt="lamp">
                </div>
                <h3 class="advanteges__title">CREATIVE IDEAS</h3>
                <p class="advanteges__text">Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem
                    Ipsum has been the
                    industry.</p>
            </div>
            <div class="advanteges__block">
                <div class="advanteges__icon_holder">
                    <img src="assets/images/ico-adv-4.png" alt="message">
                </div>
                <h3 class="advanteges__title">FREE SUPPORT</h3>
                <p class="advanteges__text">Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem
                    Ipsum has been the
                    industry.</p>
            </div>
        </div>
    </div>
</section>