<section class="blog-section">
    <div class="container">
        <div class="block_decor">
            <h2 class="block_decor__title">OUR BLOG</h2>
            <p class="block_decor__text">Suspendisse sed eros mollis, tincidunt felis eget, interdum eratullam sit amet
                odio.</p>
            <span class="block_decor__underline"></span>
        </div>
    </div>
    <div class="blog-section__row">
        <div class="blog-section__block blog-section__block_right">
            <img src="assets/images/blog-1.jpg" alt="">
            <div class="blog-section__content">
                <span class="blog-section__category">art / t-shirt</span>
                <h4 class="blog-section__title">T-SHIRT DESIGN</h4>
                <p class="blog-section__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the
                    indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a
                    scrambled it to make a type specimen book.</p>
                <a href="#" class="blog-section__link">Read More &#187;</a>
            </div>
        </div>
        <div class="blog-section__block blog-section__block_right">
            <img src="assets/images/blog-1.jpg" alt="">
            <div class="blog-section__content">
                <span class="blog-section__category">art / t-shirt</span>
                <h4 class="blog-section__title">T-SHIRT DESIGN</h4>
                <p class="blog-section__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the
                    indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a
                    scrambled it to make a type specimen book.</p>
                <a href="#" class="blog-section__link">Read More &#187;</a>
            </div>
        </div>
        <div class="blog-section__block blog-section__block_left">
            <img src="assets/images/blog-1.jpg" alt="">
            <div class="blog-section__content">
                <span class="blog-section__category">art / t-shirt</span>
                <h4 class="blog-section__title">T-SHIRT DESIGN</h4>
                <p class="blog-section__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the
                    indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a
                    scrambled it to make a type specimen book.</p>
                <a href="#" class="blog-section__link">Read More &#187;</a>
            </div>
        </div>
        <div class="blog-section__block blog-section__block_left">
            <img src="assets/images/blog-1.jpg" alt="">
            <div class="blog-section__content">
                <span class="blog-section__category">art / t-shirt</span>
                <h4 class="blog-section__title">T-SHIRT DESIGN</h4>
                <p class="blog-section__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the
                    indu Stry's standard dummy text ever since the 1500s, an unknown printer took a galley of type a
                    scrambled it to make a type specimen book.</p>
                <a href="#" class="blog-section__link">Read More &#187;</a>
            </div>
        </div>
    </div>
</section>