<section class="blog-section">
    <div class="container">
        <div class="block_decor">
            <h2 class="block_decor__title">Great Integrations with Others</h2>
            <p class="block_decor__text"><span>Suspendisse sed eros mollis, tincidunt felis eget, interdum
                    erat.</span><br>
                <span>Nullam sit amet odio eu est aliquet euismod a a urna. Proin eu urna suscipit, dictum quam
                    nec.</span> </p>
            <span class="block_decor__underline"></span>
        </div>
    </div>
    <div>
        
    </div>
</section>