<footer class="footer">
  <div class="container">
    <div class="row">
      <ul class="social__list">
        <li><a href="#" class="icon-facebook"><span class="sr-only">facebook</span></a></li>
        <li><a href="#" class="icon-twitter"><span class="sr-only">twitter</span></a></li>
        <li><a href="#" class="icon-rss"><span class="sr-only">rss</span></a></li>
        <li><a href="#" class="icon-google-plus"><span class="sr-only">google-plus</span></a></li>
        <li><a href="#" class="icon-linkedin"><span class="sr-only">linkedin</span></a></li>
        <li><a href="#" class="icon-skype"><span class="sr-only">skype</span></a></li>
        <li><a href="#" class="icon-vimeo"><span class="sr-only">vimeo</span></a></li>
        <li><a href="#" class="icon-tumblr"><span class="sr-only">tumblr</span></a></li>
      </ul>
      <p>Kazi Erfan © All Rights Reserved</p>
    </div>
  </div>
</footer>
