<footer class="footer">
  <div class="container">
    <div class="row">
      <ul class="social__list">
        <li><a href="#" class="icon-facebook"></a></li>
        <li><a href="#" class="icon-twitter"></a></li>
        <li><a href="#" class="icon-rss"></a></li>
        <li><a href="#" class="icon-google-plus"></a></li>
        <li><a href="#" class="icon-linkedin"></a></li>
        <li><a href="#" class="icon-skype"></a></li>
        <li><a href="#" class="icon-vimeo"></a></li>
        <li><a href="#" class="icon-tumblr"></a></li>
      </ul>
      <p>Kazi Erfan © All Rights Reserved</p>
    </div>
  </div>
</footer>
