<section class="form-section">
    <div class="container">
        <div class="block_decor">
            <h2 class="block_decor__title">kEEP IN TOUCH</h2>
            <p class="block_decor__text">Nullam sit amet odio eu est aliquet euismod a a urna. Proin eu urna suscipit,
                dictum quam nec.</p>
            <span class="block_decor__underline"></span>
        </div>
        <div class="form-section__row">
            <div class="form-section__contacts">
                <h4 class="form-section__title">OUR ADDRESS</h4>
                <address class="form-section__text">House #13, Streat road, Sydney
                    2310 Australia</address>
                <h4 class="form-section__title">CALL US</h4>
                <a href="tel:+8801681091425" class="form-section__text">+ 880 168 109 1425</a>
                <a href="tel:+0216809142" class="form-section__text">+ 0216809142</a>
                <h4 class="form-section__title">EMAIL US</h4>
                <a href="mailto:contactus@email.com" class="form-section__text">contactus@email.com</a>
            </div>
            <form id="touch-form" class="form-block">
                <input class="form-block__input" name="name" type="text" placeholder="Name">
                <input class="form-block__input" name="email" type="email" placeholder="Email">
                <input class="form-block__input" name="subject" type="text" placeholder="Subject">
                <textarea class="form-block__textarea" name="textarea" placeholder="Message"></textarea>
                <button class="btn btn_small btn_orange" type="submit">SEND MESSAGE</button>
            </form>
        </div>
    </div>
</section>