<section class="form-section">
    <div class="container">
        <div class="block_decor">
            <h2 class="block_decor__title">kEEP IN TOUCH</h2>
            <p class="block_decor__text">Nullam sit amet odio eu est aliquet euismod a a urna. Proin eu urna suscipit,
                dictum quam nec.</p>
            <span class="block_decor__underline"></span>
        </div>
        <div class="form-section__row">
            <address class="form-section__contacts">
                <span class="form-section__title">OUR ADDRESS</span>
                <span>House #13, Streat road, Sydney
                    2310 Australia</span>
                <span class="form-section__title">CALL US</span>
                <span>+ 880 168 109 1425</span>
                <span>+ 0216809142</span>
                <span class="form-section__title">EMAIL US</span>
                <span>contactus@email.com</span>
            </address>
            <form class="form-section__form">

            </form>
        </div>
    </div>
</section>