<header class="header">
  <div class="container">
    <div class="row">
      <picture>
        <source srcset="" />
        <img class="header__logo" alt="" />
      </picture>
      <nav class="header__menu">
        <button type="button"></button>
        <ul class="header__menu_list">
          <li><a href="#">home</a></li>
          <li><a href="#">about us</a></li>
          <li><a href="#">portfolio</a></li>
          <li><a href="#">pricing</a></li>
          <li><a href="#">team</a></li>
          <li><a href="#">blog</a></li>
          <li><a href="#">contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
