<section class="integrations-section">
    <div class="container">
        <div class="block_decor">
            <h2 class="block_decor__title">Great Integrations with Others</h2>
            <p class="block_decor__text"><span>Suspendisse sed eros mollis, tincidunt felis eget, interdum
                    erat.</span><br>
                <span>Nullam sit amet odio eu est aliquet euismod a a urna. Proin eu urna suscipit, dictum quam
                    nec.</span> </p>
            <span class="block_decor__underline"></span>
        </div>
        <div class="integrations-section__row">
            <a href="#" class="integrations-section__block">
                <img class="integrations-section__logo" src="assets/images/integr-logo-osha.png" alt="osha">
            </a>
            <a href="#" class="integrations-section__block">
                <img class="integrations-section__logo" src="assets/images/integr-logo-bbb.png" alt="bbb">
            </a>
            <a href="#" class="integrations-section__block">
                <img class="integrations-section__logo" src="assets/images/integr-logo-epa.png" alt="epa">
            </a>
            <a href="#" class="integrations-section__block">
                <img class="integrations-section__logo" src="assets/images/integr-logo-osha.png" alt="osha">
            </a>
            <a href="#" class="integrations-section__block">
                <img class="integrations-section__logo" src="assets/images/integr-logo-bbb.png" alt="bbb">
            </a>
            <a href="#" class="integrations-section__block">
                <img class="integrations-section__logo" src="assets/images/integr-logo-epa.png" alt="epa">
            </a>
            <a href="#" class="integrations-section__block">
                <img class="integrations-section__logo" src="assets/images/integr-logo-osha.png" alt="osha">
            </a>
            <a href="#" class="integrations-section__block">
                <img class="integrations-section__logo" src="assets/images/integr-logo-bbb.png" alt="bbb">
            </a>
            <a href="#" class="integrations-section__block">
                <img class="integrations-section__logo" src="assets/images/integr-logo-epa.png" alt="epa">
            </a>
            <a href="#" class="integrations-section__block">
                <img class="integrations-section__logo" src="assets/images/integr-logo-osha.png" alt="osha">
            </a>
        </div>
    </div>
</section>