<nav class="nav" aria-label="Main navigation">
  <button class="nav__button_mobile" aria-label="Mobile button" aria-expanded="true" type="button">
    <span></span>
  </button>
  <ul class="nav__list">
    <li><button data-anchor="#welcome_section" class="scroll-to" type="button">home</button></li>
    <li><button data-anchor="#history_section" class="scroll-to" type="button">about us</button></li>
    <li><button data-anchor="#works_section" class="scroll-to" type="button">portfolio</button></li>
    <li><button data-anchor="#pricing-section" class="scroll-to" type="button">pricing</button></li>
    <li><button class="scroll-to" type="button">team</button></li>
    <li><button data-anchor="#blog-section" class="scroll-to" type="button">blog</button></li>
    <li><button data-anchor="#form-section" class="scroll-to" type="button">contact</button></li>
  </ul>
</nav>