<section class="pricing-section">
    <div class="container">
        <div class="block_decor">
            <h2 class="block_decor__title">OUR PRICING</h2>
            <p class="block_decor__text">A 30 days free trial for all. A brief story about how this process works, keep
                an eye till the end.</p>
            <span class="block_decor__underline"></span>
        </div>
        <div class="pricing-section__row">
            <div class="pricing-section__block">
                <p class="pricing-section__title">STARTER</p>
                <div class="pricing-section__price">
                    <p class="pricing-section__number">$19</p>
                    <p class="pricing-section__description">per month</p>
                </div>
                <div class="pricing-section__text">
                    <p>Competition Analysis Methods</p>
                    <p>All Ranked URLs</p>
                    <p>International Support System</p>
                    <p>Social Media Tracking</p>
                </div>
                <a href="#" class="btn btn_small btn_orange">CHOOSE PLAN</a>
            </div>
            <div class="pricing-section__block">
                <p class="pricing-section__title">PREMIUM</p>
                <div class="pricing-section__price">
                    <p class="pricing-section__number">$39</p>
                    <p class="pricing-section__description">per month</p>
                </div>
                <div class="pricing-section__text">
                    <p>Competition Analysis Methods</p>
                    <p>All Ranked URLs</p>
                    <p>International Support System</p>
                    <p>Social Media Tracking</p>
                </div>
                <a href="#" class="btn btn_small btn_orange">CHOOSE PLAN</a>
            </div>
            <div class="pricing-section__block">
                <p class="pricing-section__title">BUSINESS</p>
                <div class="pricing-section__price">
                    <p class="pricing-section__number">$99</p>
                    <p class="pricing-section__description">per month</p>
                </div>
                <div class="pricing-section__text">
                    <p>Competition Analysis Methods</p>
                    <p>All Ranked URLs</p>
                    <p>International Support System</p>
                    <p>Social Media Tracking</p>
                </div>
                <a href="#" class="btn btn_small btn_orange">CHOOSE PLAN</a>
            </div>
        </div>
    </div>
</section>