<section id="pricing-section" class="pricing-section">
  <div class="container">
    <div class="block_decor">
      <h2 class="block_decor__title">OUR PRICING</h2>
      <p class="block_decor__text">A 30 days free trial for all. A brief story about how this process works, keep
        an eye till the end.</p>
      <span class="block_decor__underline"></span>
    </div>
    <div class="pricing-section__row">
      <div class="pricing-section__block">
        <h3 class="pricing-section__title">STARTER</h3>
        <div class="pricing-section__price">
          <span class="pricing-section__number">$19</span>
          <span class="pricing-section__description">per month</span>
        </div>
        <ul class="pricing-section__text">
          <li>Competition Analysis Methods</li>
          <li>All Ranked URLs</li>
          <li>International Support System</li>
          <li>Social Media Tracking</li>
        </ul>
        <a href="#" class="btn btn_small btn_orange">CHOOSE PLAN</a>
      </div>
      <div class="pricing-section__block pricing-section__block_recomend">
        <h3 class="pricing-section__title">PREMIUM</h3>
        <div class="pricing-section__price">
          <span class="pricing-section__number">$39</span>
          <span class="pricing-section__description">per month</span>
        </div>
        <ul class="pricing-section__text">
          <li>Competition Analysis Methods</li>
          <li>All Ranked URLs</li>
          <li>International Support System</li>
          <li>Social Media Tracking</li>
        </ul>
        <a href="#" class="btn btn_small btn_orange">CHOOSE PLAN</a>
      </div>
      <div class="pricing-section__block">
        <h3 class="pricing-section__title">BUSINESS</h3>
        <div class="pricing-section__price">
          <span class="pricing-section__number">$99</span>
          <span class="pricing-section__description">per month</span>
        </div>
        <ul class="pricing-section__text">
          <li>Competition Analysis Methods</li>
          <li>All Ranked URLs</li>
          <li>International Support System</li>
          <li>Social Media Tracking</li>
        </ul>
        <a href="#" class="btn btn_small btn_orange">CHOOSE PLAN</a>
      </div>
    </div>
  </div>
</section>