<section class="services_section">
    <div class="services__container">
        <div class="services__column">
            <h2 class="services__title">OUR SERVICES</h2>
            <div class="services_slider">
                <div class="services_slider__block">
                    <p class="services_slider__title">WEB DESIGN</p>
                    <p class="services_slider__text">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ip sum has been the industry's standard dummy text ever.</p>
                    <span class="services_slider__icon">
                        <img src="assets/images/screen.svg" alt="web design">
                    </span>
                </div>
                <div class="services_slider__block">
                    <p class="services_slider__title">PRINT DESIGN</p>
                    <p class="services_slider__text">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ip sum has been the industry's standard dummy text ever.</p>
                    <span class="services_slider__icon">
                        <img src="assets/images/papers.svg" alt="print design">
                    </span>
                </div>
                <div class="services_slider__block">
                    <p class="services_slider__title">PHOTOGRAPHY</p>
                    <p class="services_slider__text">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem Ip sum has been the industry's standard dummy text ever.</p>
                    <span class="services_slider__icon">
                        <img src="assets/images/camera.svg" alt="photography">
                    </span>
                </div>
            </div>
        </div>
        <img class="services__background" src="assets/images/services_1.jpg" alt="our services">
    </div>
</section>