<section class="start-section">
  <picture>
    <source srcset="assets/images/stat-1280.jpg" media="(max-width: 1280px)">
    <source srcset="assets/images/stat-768.jpg" media="(max-width: 768px)">
    <source srcset="assets/images/stat-480.jpg" media="(max-width: 480px)">
    <img class="start-section__background" src="assets/images/stat-1920.jpg" alt="people">
  </picture>
  <div class="container">
    <div class="start-section__column">
      <h2 class="start-section__slogan">Let's Get Started Now. <b>It's FREE!</b></h2>
      <p class="start-section__text">30 day free trial. Free plan allows up to 2 projects. Pay if you need more. Cancel
        anytime. No catches.</p>
      <a href="#" class="btn btn_large btn_orange">start free trial</a>
    </div>
  </div>
</section>