<section class="statistic-section">
    <picture>
        <source srcset="assets/images/stat-1280.jpg" media="(max-width: 1280px)">
        <source srcset="assets/images/stat-768.jpg" media="(max-width: 768px)">
        <source srcset="assets/images/stat-480.jpg" media="(max-width: 480px)">
        <img class="statistic-section__background" src="assets/images/stat-1920.jpg" alt="people">
    </picture>
    <div class="container">
        <div class="statistic-section__row">
            <div class="statistic-section__block">
                <div class="statistic-section__icon-holder">
                    <img src="assets/images/ico-stat-1.png" alt="">
                </div>
                <p class="statistic-section__number">3891</p>
                <p class="statistic-section__text">User Favourites</p>
            </div>
            <div class="statistic-section__block">
                <div class="statistic-section__icon-holder">
                    <img src="assets/images/ico-stat-2.png" alt="">
                </div>
                <p class="statistic-section__number">281k</p>
                <p class="statistic-section__text">Posts Last 24 Hours</p>
            </div>
            <div class="statistic-section__block">
                <div class="statistic-section__icon-holder">
                    <img src="assets/images/ico-stat-3.png" alt="">
                </div>
                <p class="statistic-section__number">618</p>
                <p class="statistic-section__text">Total posts</p>
            </div>
            <div class="statistic-section__block">
                <div class="statistic-section__icon-holder">
                    <img src="assets/images/ico-stat-4.png" alt="">
                </div>
                <p class="statistic-section__number">178</p>
                <p class="statistic-section__text">Compaings</p>
            </div>
            <div class="statistic-section__block">
                <div class="statistic-section__icon-holder">
                    <img src="assets/images/ico-stat-5.svg" alt="">
                </div>
                <p class="statistic-section__number">285</p>
                <p class="statistic-section__text">Amazing features</p>
            </div>
        </div>
    </div>
</section>