<section class="statistic-section">
  <picture>
    <source srcset="assets/images/stat-1280.jpg" media="(max-width: 1280px)">
    <source srcset="assets/images/stat-768.jpg" media="(max-width: 768px)">
    <source srcset="assets/images/stat-480.jpg" media="(max-width: 480px)">
    <img class="statistic-section__background" src="assets/images/stat-1920.jpg" alt="people">
  </picture>
  <div class="container">
    <h2 class="sr-only">Our statistic</h2>
    <div class="statistic-section__row">
      <div class="statistic-section__block">
        <div class="statistic-section__icon-holder">
          <img src="assets/images/ico-stat-1.png" alt="">
        </div>
        <span class="statistic-section__number">3891</span>
        <span class="statistic-section__text">User Favourites</span>
      </div>
      <div class="statistic-section__block">
        <div class="statistic-section__icon-holder">
          <img src="assets/images/ico-stat-2.png" alt="">
        </div>
        <span class="statistic-section__number">281K</span>
        <span class="statistic-section__text">Posts Last 24 Hours</span>
      </div>
      <div class="statistic-section__block">
        <div class="statistic-section__icon-holder">
          <img src="assets/images/ico-stat-3.png" alt="">
        </div>
        <span class="statistic-section__number">618</span>
        <span class="statistic-section__text">Total Posts</span>
      </div>
      <div class="statistic-section__block">
        <div class="statistic-section__icon-holder">
          <img src="assets/images/ico-stat-4.png" alt="">
        </div>
        <span class="statistic-section__number">178</span>
        <span class="statistic-section__text">Compaings</span>
      </div>
      <div class="statistic-section__block">
        <div class="statistic-section__icon-holder">
          <img src="assets/images/ico-stat-5.svg" alt="">
        </div>
        <span class="statistic-section__number">285</span>
        <span class="statistic-section__text">Amazing Features</span>
      </div>
    </div>
  </div>
</section>