<section class="study-section">
    <div class="container">
        <div class="study-section__column">
            <div class="block_decor">
                <h2 class="block_decor__title">CASE STUDY</h2>
                <p class="block_decor__text">It has survived not only five centuries, but also the leap scrambled it to
                    make
                    a type.</p>
                <span class="block_decor__underline"></span>
            </div>
            <div class="study-section__row">
                <div class="study-slider">
                    <div class="study-slider__block">
                        <div class="study-slider__icon-holder">
                            <img class="study-slider__icon" src="assets/images/ico-study-1.png" alt="lamp">
                        </div>
                        <h2 class="study-slider__title">aCCUMULATE CREATIVE IDEAS</h2>
                        <p class="study-slider__text">Lorem Ipsum is simply dummy text of the printing and typesetting
                            let.
                            Lorem Ipsum has been the industry. Lorem Ipsum is simply dummy text of the printing and
                            typesetting let. Lorem Ipsum has been the industry Printing and typelorem Ipsum has been the
                            setting let.</p>
                        <a href="#" class="btn btn_small btn_orange">read more</a>
                    </div>
                </div>
                <img class="study-section__background" src="assets/images/case_study.jpg" alt="work place">
            </div>
        </div>
    </div>
</section>