<section id="welcome_section" class="welcome_section">
    <div class="figures_decor">
        <img src="assets/images/anchor.svg" alt="anchor">
    </div>
    <div class="welcome_slider">

        <div class="welcome_slider__block">
            <picture>
                <source srcset="assets/images/welcome_section/welcome-1920.png,
                assets/images/welcome_section/welcome-1920@2x.png 2x" media="(min-width: 1281px)">
                <source srcset="assets/images/welcome_section/welcome-1280.png,
                assets/images/welcome_section/welcome-1280.png@2x 2x" media="(min-width: 981px)">
                <source srcset="assets/images/welcome_section/welcome-980.png,
                assets/images/welcome_section/welcome-980.png@2x 2x" media="(min-width: 769px)">
                <source srcset="assets/images/welcome_section/welcome-768.png,
                assets/images/welcome_section/welcome-768.png@2x 2x" media="(min-width: 415px)">
                <img class="welcome_slider__picture" src="assets/images/welcome_section/welcome-480.png"
                    srcset="assets/images/welcome_section/welcome-480.png@2x 2x" alt="bino picture" />
            </picture>
            <div class="welcome_slider__picture_overlay"></div>
            <div class="container">
                <div class="welcome_slider__content">
                    <div class="column">
                        <h3 class="welcome_slider__slogan">Our Clients Are Our First Priority</h3>
                        <h1 class="welcome_slider__title">WELCOME to bino</h1>
                        <span class="block_decor__underline"></span>
                    </div>
                    <div class="welcome_slider__text">
                        <span>
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever
                            since the 1500s, when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book.</span>
                    </div>
                    <div class="btn_row">
                        <a href="#" class="btn btn_large btn_orange">GET STARTED NOW</a>
                        <a href="#" class="btn btn_large btn_transparent">LEARN MORE</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="welcome_slider__block">
            <picture>
                <source srcset="assets/images/welcome_section/welcome-1920.png,
                        assets/images/welcome_section/welcome-1920@2x.png 2x" media="(min-width: 1281px)">
                <source srcset="assets/images/welcome_section/welcome-1280.png,
                        assets/images/welcome_section/welcome-1280.png@2x 2x" media="(min-width: 981px)">
                <source srcset="assets/images/welcome_section/welcome-980.png,
                        assets/images/welcome_section/welcome-980.png@2x 2x" media="(min-width: 769px)">
                <source srcset="assets/images/welcome_section/welcome-768.png,
                        assets/images/welcome_section/welcome-768.png@2x 2x" media="(min-width: 415px)">
                <img class="welcome_slider__picture" src="assets/images/welcome_section/welcome-480.png"
                    srcset="assets/images/welcome_section/welcome-480.png@2x 2x" alt="bino picture" />
            </picture>
            <div class="welcome_slider__picture_overlay"></div>
            <div class="container">
                <div class="welcome_slider__content">
                    <div class="column">
                        <h3 class="welcome_slider__slogan">Our Clients Are Our First Priority</h3>
                        <h1 class="welcome_slider__title">WELCOME 2</h1>
                        <span class="block_decor__underline"></span>
                    </div>
                    <div class="welcome_slider__text">
                        <span>
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever
                            since the 1500s, when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book.</span>
                    </div>
                    <div class="row btn_row">
                        <a href="#" class="btn btn_large btn_transparent">LEARN MORE</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="welcome_slider__block">
            <picture>
                <source srcset="assets/images/welcome_section/welcome-1920.png,
                        assets/images/welcome_section/welcome-1920@2x.png 2x" media="(min-width: 1281px)">
                <source srcset="assets/images/welcome_section/welcome-1280.png,
                        assets/images/welcome_section/welcome-1280.png@2x 2x" media="(min-width: 981px)">
                <source srcset="assets/images/welcome_section/welcome-980.png,
                        assets/images/welcome_section/welcome-980.png@2x 2x" media="(min-width: 769px)">
                <source srcset="assets/images/welcome_section/welcome-768.png,
                        assets/images/welcome_section/welcome-768.png@2x 2x" media="(min-width: 415px)">
                <img class="welcome_slider__picture" src="assets/images/welcome_section/welcome-480.png"
                    srcset="assets/images/welcome_section/welcome-480.png@2x 2x" alt="bino picture" />
            </picture>
            <div class="welcome_slider__picture_overlay"></div>
            <div class="container">
                <div class="welcome_slider__content">
                    <div class="column">
                        <h3 class="welcome_slider__slogan">Our Clients Are Our First Priority</h3>
                        <h1 class="welcome_slider__title">WELCOME 3</h1>
                        <span class="block_decor__underline"></span>
                    </div>
                    <div class="welcome_slider__text">
                        <span>
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever
                            since the 1500s, when an unknown printer took a galley of type and
                            scrambled it to make a type specimen book.</span>
                    </div>
                    <div class="row btn_row">
                        <a href="#" class="btn btn_large btn_transparent">LEARN MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>