<section id="works_section" class="works_section">
  <div class="container">
    <div class="block_decor">
      <h2 class="block_decor__title">RECENT WORKS</h2>
      <p class="block_decor__text">It has survived not only five centuries, but also the leap scrambled it to make
        a type.</p>
      <span class="block_decor__underline"></span>
    </div>
  </div>
  <div class="works_gallery">
    <div class="works_gallery__filters_row">
      <button class="works_gallery__filter" data-filter="all" type="button">all</button>
      <button class="works_gallery__filter" data-filter="print" type="button">print design</button>
      <button class="works_gallery__filter" data-filter="animation" type="button">animation</button>
      <button class="works_gallery__filter" data-filter="art" type="button">art</button>
      <button class="works_gallery__filter" data-filter="web" type="button">web design</button>
      <button class="works_gallery__filter" data-filter="photo" type="button">photography</button>
      <button class="works_gallery__filter" data-filter="video" ype="button">video</button>
    </div>
    <div class="works_gallery__row">
      <div class="works_gallery__block" data-filter="web" href="#">
        <img class="works_gallery__image" src="assets/images/gallery_1.jpg" alt="work">
        <div class="works_gallery__description">
          <a href="#" class="works_gallery__title">T-SHIRT DESIGN</a>
          <a href="#" class="works_gallery__text">art / t-shirt</a>
        </div>
      </div>
      <div class="works_gallery__block" data-filter="print" href="#">
        <img class="works_gallery__image" src="assets/images/gallery_2.jpg" alt="work">
        <div class="works_gallery__description">
          <a href="#" class="works_gallery__title">T-SHIRT DESIGN</a>
          <a href="#" class="works_gallery__text">art / t-shirt</a>
        </div>
      </div>
      <div class="works_gallery__block" data-filter="animation" href="#">
        <img class="works_gallery__image" src="assets/images/gallery_1.jpg" alt="work">
        <div class="works_gallery__description">
          <a href="#" class="works_gallery__title">T-SHIRT DESIGN</a>
          <a href="#" class="works_gallery__text">art / t-shirt</a>
        </div>
      </div>
      <div class="works_gallery__block" data-filter="art" href="#">
        <img class="works_gallery__image" src="assets/images/gallery_2.jpg" alt="work">
        <div class="works_gallery__description">
          <a href="#" class="works_gallery__title">T-SHIRT DESIGN</a>
          <a href="#" class="works_gallery__text">art / t-shirt</a>
        </div>
      </div>
      <div class="works_gallery__block" data-filter="photo" href="#">
        <img class="works_gallery__image" src="assets/images/gallery_1.jpg" alt="work">
        <div class="works_gallery__description">
          <a href="#" class="works_gallery__title">T-SHIRT DESIGN</a>
          <a href="#" class="works_gallery__text">art / t-shirt</a>
        </div>
      </div>
      <div class="works_gallery__block" data-filter="video" href="#">
        <img class="works_gallery__image" src="assets/images/gallery_2.jpg" alt="work">
        <div class="works_gallery__description">
          <a href="#" class="works_gallery__title">T-SHIRT DESIGN</a>
          <a href="#" class="works_gallery__text">art / t-shirt</a>
        </div>
      </div>
      <div class="works_gallery__block" data-filter="web" href="#">
        <img class="works_gallery__image" src="assets/images/gallery_1.jpg" alt="work">
        <div class="works_gallery__description">
          <a href="#" class="works_gallery__title">T-SHIRT DESIGN</a>
          <a href="#" class="works_gallery__text">art / t-shirt</a>
        </div>
      </div>
      <div class="works_gallery__block" data-filter="photo" href="#">
        <img class="works_gallery__image" src="assets/images/gallery_2.jpg" alt="work">
        <div class="works_gallery__description">
          <a href="#" class="works_gallery__title">T-SHIRT DESIGN</a>
          <a href="#" class="works_gallery__text">art / t-shirt</a>
        </div>
      </div>
    </div>
  </div>
</section>