<section id="works_section" class="works_section">
  <div class="container">
    <div class="block_decor">
      <h2 class="block_decor__title">RECENT WORKS</h2>
      <p class="block_decor__text">It has survived not only five centuries, but also the leap scrambled it to make
        a type.</p>
      <span class="block_decor__underline"></span>
    </div>
  </div>
  <div class="works_gallery">
    <ul class="works_gallery__filters_row" aria-label="Gallery filters">
      <li><button class="works_gallery__filter" data-filter="all" type="button">all</button></li>
      <li><button class="works_gallery__filter" data-filter="print" type="button">print
          design</button></li>
      <li><button class="works_gallery__filter" data-filter="animation" type="button">animation</button></li>
      <li><button class="works_gallery__filter" data-filter="art" type="button">art</button></li>
      <li><button class="works_gallery__filter" data-filter="web" type="button">web
          design</button></li>
      <li><button class="works_gallery__filter" data-filter="photo" type="button">photography</button></li>
      <li><button class="works_gallery__filter" data-filter="video" type="button">video</button></li>
    </ul>
    <div class="works_gallery__row" aria-live="polite">
      <div class="works_gallery__block" data-filter="web" role="tabpanel" aria-hidden="true">
        <img class="works_gallery__image" src="images/gallery_1.jpg" alt="work">
        <div class="works_gallery__description">
          <a href="#" class="works_gallery__title">T-SHIRT DESIGN</a>
          <a href="#" class="works_gallery__text">art / t-shirt</a>
        </div>
      </div>
      <div class="works_gallery__block" data-filter="print" role="tabpanel" aria-hidden="true">
        <img class="works_gallery__image" src="images/gallery_2.jpg" alt="work">
        <div class="works_gallery__description">
          <a href="#" class="works_gallery__title">T-SHIRT DESIGN</a>
          <a href="#" class="works_gallery__text">art / t-shirt</a>
        </div>
      </div>
      <div class="works_gallery__block" data-filter="animation" role="tabpanel" aria-hidden="true">
        <img class="works_gallery__image" src="images/gallery_1.jpg" alt="work">
        <div class="works_gallery__description">
          <a href="#" class="works_gallery__title">T-SHIRT DESIGN</a>
          <a href="#" class="works_gallery__text">art / t-shirt</a>
        </div>
      </div>
      <div class="works_gallery__block" data-filter="art" role="tabpanel" aria-hidden="true">
        <img class="works_gallery__image" src="images/gallery_2.jpg" alt="work">
        <div class="works_gallery__description">
          <a href="#" class="works_gallery__title">T-SHIRT DESIGN</a>
          <a href="#" class="works_gallery__text">art / t-shirt</a>
        </div>
      </div>
      <div class="works_gallery__block" data-filter="photo" role="tabpanel" aria-hidden="true">
        <img class="works_gallery__image" src="images/gallery_1.jpg" alt="work">
        <div class="works_gallery__description">
          <a href="#" class="works_gallery__title">T-SHIRT DESIGN</a>
          <a href="#" class="works_gallery__text">art / t-shirt</a>
        </div>
      </div>
      <div class="works_gallery__block" data-filter="video" role="tabpanel" aria-hidden="true">
        <img class="works_gallery__image" src="images/gallery_2.jpg" alt="work">
        <div class="works_gallery__description">
          <a href="#" class="works_gallery__title">T-SHIRT DESIGN</a>
          <a href="#" class="works_gallery__text">art / t-shirt</a>
        </div>
      </div>
      <div class="works_gallery__block" data-filter="web" role="tabpanel" aria-hidden="true">
        <img class="works_gallery__image" src="images/gallery_1.jpg" alt="work">
        <div class="works_gallery__description">
          <a href="#" class="works_gallery__title">T-SHIRT DESIGN</a>
          <a href="#" class="works_gallery__text">art / t-shirt</a>
        </div>
      </div>
      <div class="works_gallery__block" data-filter="photo" role="tabpanel" aria-hidden="true">
        <img class="works_gallery__image" src="images/gallery_2.jpg" alt="work">
        <div class="works_gallery__description">
          <a href="#" class="works_gallery__title">T-SHIRT DESIGN</a>
          <a href="#" class="works_gallery__text">art / t-shirt</a>
        </div>
      </div>
    </div>
  </div>
</section>
